{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if search_term %}
        <h2>Search results for "{{ search_term }}"</h2>

        {% if search_results %}
            <ul>
                {% for result in search_results %}
                    
                    <a href="{% url 'article' result %}">{{ result }}</a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}
{% endblock %}